<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <form action="/upload-file" method="post">
      <label for="upload-file">File:</label>
      <input type="file" name="file" id="upload-file" />
      <button type="submit">Upload</button>
    </form>
    <a href="/log-out">Log out</a>
  </body>
</html>
